/* Makes our label white. */
.blocklyTreeLabel {
    color: white;
}

/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
    padding: .5em;
}

/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
    padding: 3px;
    margin-bottom: .5em;
    border-radius: 4px;
    height: initial;
}

/* Changes color of the icon to white. */
.customIcon {
    color: white;
}

html,body {
    height: 100%;
    margin: 0;
}

.button button{
    width: 150px;
    border: 2px solid #2e8dcc;
    cursor: pointer;
    border-radius: 22px;
}
.button buttton[type="submit"]:hover {
    background-color: #2ecc71;
    transition: 0.5s;
  }
  
body {
    background-color: #fff;
    font-family: sans-serif;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    font-size: 140%;
}

table {
    height: 100%;
    width: 100%;
}

#blocklyArea {
    height: 99%;
}